@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto&display=swap");
.bigImg {
  width: 100%;
  max-height: 65vh;
  min-height: 20vh;
}

#hide {
  display: none;
}

#hide-2 {
  display: block;
}

#hide-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.hideA1 {
  display: inline-block;
  float: right;
}

.infoAfect1 {
  position: relative;
  overflow: hidden;
  display: none;
}

.infoAfect1 .read-more1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background-image: linear-gradient(to bottom, transparent, black);
}

.hideA2 {
  display: inline-block;
  float: right;
}

.infoAfect2 {
  position: relative;
  overflow: hidden;
  display: none;
}

.infoAfect2 .read-more2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background-image: linear-gradient(to bottom, transparent, black);
}

.hideA3 {
  display: inline-block;
  float: right;
}

.infoAfect3 {
  position: relative;
  overflow: hidden;
  display: none;
}

.infoAfect3 .read-more3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background-image: linear-gradient(to bottom, transparent, black);
}

.hideA4 {
  display: inline-block;
  float: right;
}

.infoAfect4 {
  position: relative;
  overflow: hidden;
  display: none;
}

.infoAfect4 .read-more4 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background-image: linear-gradient(to bottom, transparent, black);
}

.hideA56 {
  display: inline-block;
  float: right;
}

.infoAfect5 {
  position: relative;
  overflow: hidden;
  display: none;
}

.infoAfect5 .read-more5 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background-image: linear-gradient(to bottom, transparent, black);
}

.hideA6 {
  display: inline-block;
  float: right;
}

.infoAfect6 {
  position: relative;
  overflow: hidden;
  display: none;
}

.infoAfect6 .read-more6 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background-image: linear-gradient(to bottom, transparent, black);
}

.hideA7 {
  display: inline-block;
  float: right;
}

.infoAfect7 {
  position: relative;
  overflow: hidden;
  display: none;
}

.infoAfect7 .read-more7 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background-image: linear-gradient(to bottom, transparent, black);
}

.hideA8 {
  display: inline-block;
  float: right;
}

.infoAfect8 {
  position: relative;
  overflow: hidden;
  display: none;
}

.infoAfect8 .read-more8 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background-image: linear-gradient(to bottom, transparent, black);
}

.about {
  background-image: url("../img/_big/mardi_defult-1.jpg") !important;
  background-size: cover !important;
  min-height: 500px !important;
  max-height: 700px !important;
  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.content {
  background-image: url("../img/_big/mardi_defult-2.jpg") !important;
  background-size: cover !important;
  min-height: 500px !important;
  max-height: 700px !important;
  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.faq {
  background-image: url("../img/_big/mardi_defult.jpg") !important;
  background-size: cover !important;
  min-height: 500px !important;
  max-height: 700px !important;
  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.mediaGalery {
  background-image: url("../img/_big/mardi_defult-4.jpg") !important;
  background-size: cover !important;
  min-height: 500px !important;
  max-height: 700px !important;
  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.purple {
  background-color: #2a1931;
}

.flexContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1em;
}

.contentAbout {
  background-color: #fff;
  color: #000;
  text-align: justify;
  line-height: 1.5;
  padding: 1em;
  border-radius: 5px;
}

.center.c1 {
  border: none;
  background: #fff;
  padding: 1em 1em;
  -webkit-box-shadow: 3px 10px 26px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 10px 26px -5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 1.2em;
}

.join {
  color: #fff;
  padding: 0.3em 0.8em;
  border-radius: 0.2em;
  font-family: "Oswald", sans-serif;
  background: #b20000;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.33);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.33);
  margin-top: 1em;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gridAbout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[3];
      grid-template-columns: repeat(3, 2fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "first-content first-content second-content" "first-content first-content third-content  " "fix-content fix-content fix-content  ";
  gap: 1.3em;
}

.first-content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: first-content;
}

.second-content {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: second-content;
}

.third-content {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: third-content;
  margin-bottom: 42em;
}

.fix-content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: fix-content;
}

.slidGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "slidItem-1 slidItem-2 slidItem-3 slidItem-4" "slidItem-5 slidItem-6 slidItem-7 slidItem-8" "slidItem-9 slidItem-10 slidItem-11 slidItem-12" "slidItem-13 slidItem-14 slidItem-15 slidItem-16";
  gap: 1.3em;
}

.slidItem-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: slidItem-1;
}

.slidItem-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: slidItem-2;
}

.slidItem-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: slidItem-3;
}

.slidItem-4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: slidItem-4;
}

.slidItem-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: slidItem-5;
}

.slidItem-6 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: slidItem-6;
}

.slidItem-7 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: slidItem-7;
}

.slidItem-8 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: slidItem-8;
}

.slidItem-9 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: slidItem-9;
}

.slidItem-10 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: slidItem-10;
}

.slidItem-11 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: slidItem-11;
}

.slidItem-12 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: slidItem-12;
}

.slidItem-13 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: slidItem-13;
}

.slidItem-14 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: slidItem-14;
}

.slidItem-15 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: slidItem-15;
}

.slidItem-16 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: slidItem-16;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.gallery {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hover-shadow:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 900px) {
  html:not(.home) .center {
    max-width: 300px;
    margin: 0 auto;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .slidGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "slidItem-1 slidItem-2" "slidItem-3 slidItem-4" "slidItem-5 slidItem-6" "slidItem-7 slidItem-8" "slidItem-9 slidItem-10" "slidItem-11 slidItem-12" "slidItem-13 slidItem-14" "slidItem-15 slidItem-16";
    gap: 1rem;
  }
  #hide {
    display: block;
  }
  #hide-2 {
    display: none;
  }
  #hide-3 {
    display: none;
  }
  .sidebar-box {
    max-height: 120px;
    position: relative;
    overflow: hidden;
  }
  .sidebar-box .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 30px 0;
    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
    background-image: linear-gradient(to bottom, transparent, black);
  }
  .about {
    background-image: url("../img/_big/mardi_defult-1.jpg") !important;
    background-size: cover !important;
    min-height: 300px !important;
    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .content {
    background-image: url("../img/_big/mardi_defult-2.jpg") !important;
    background-size: cover !important;
    min-height: 300px !important;
    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .faq {
    background-image: url("../img/_big/mardi_defult.jpg") !important;
    background-size: cover !important;
    min-height: 300px !important;
    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .mediaGalery {
    background-image: url("../img/_big/mardi_defult-4.jpg") !important;
    background-size: cover !important;
    min-height: 300px !important;
    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .cardMargin {
    padding: 100px 100px;
  }
  .formMargin {
    margin: 5px;
  }
  .gridAbout {
    display: block;
  }
  .first-content {
    margin-bottom: 3em;
  }
  .second-content {
    margin-bottom: 3em;
  }
  .third-content {
    margin-bottom: 3em;
  }
  .fix-content {
    display: none;
  }
}

.navbar {
  background-color: #2a1931;
}

.nav-link {
  color: white !important;
}

.nav1 {
  margin-right: 12em;
}

@media (max-width: 992px) {
  .nav1 {
    margin-right: 10em;
  }
}

@media (max-width: 768px) {
  .nav1 {
    margin-right: 0;
  }
}

footer {
  background-color: yellow !important;
  display: block !important;
  margin-top: 6rem !important;
  padding-top: 0 !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pattaya", sans-serif, "Henny Penny", cursive;
  font-weight: 1.5;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 1.5;
}

body > .container {
  padding-top: 60px;
}

.parallax {
  /* The image used */
  background-image: url("https://image.freepik.com/vetores-gratis/padrao-de-carnaval-brasileiro-artistico-com-mascaras_23-2148404644.jpg") !important;
  /* Set a specific height */
  min-height: 600px !important;
  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.grid-continer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "grid-item-header grid-item-header grid-item-header grid-item-header" "grid-item-headerShow grid-item-headerShow grid-item-headerShow grid-item-headerShow" "grid-item-mainContent grid-item-mainContent grid-item-mainContent grid-item-mainContent" "grid-item-footer grid-item-footer grid-item-footer grid-item-footer";
}

.grid-item-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: grid-item-header;
}

.grid-item-headerShow {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: grid-item-headerShow;
}

.grid-item-mainContent {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: grid-item-mainContent;
}

.grid-item-footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: grid-item-footer;
}
/*# sourceMappingURL=main.css.map */