.navbar {
    background-color: rgb(42, 25, 49);
}

.nav-link {
    color: white !important;
}

.nav1 {
    margin-right: 12em;
}

.zoom {
    transition: transform 0.2s;
    /* Animation */
}

.zoom1 {
    transition: transform 0.2s;
    /* Animation */
}

.zoom:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom1:hover {
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media (max-width: 992px) {
    .nav1 {
        margin-right: 10em;
    }
    .zoom {
        transition: transform 0.2s;
        /* Animation */
    }
    .zoom:hover {
        transform: scale(1.5);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    .zoom:hover {
        transform: scale(1.5);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    .zoom1:hover {
        transform: scale(1.1);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
}

@media (max-width: 768px) {
    .nav1 {
        margin-right: 0;
    }
    .zoom {
        transition: transform 0.2s;
        /* Animation */
    }
    .zoom:hover {
        transform: scale(1.5);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    .zoom:hover {
        transform: scale(1.5);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    .zoom1:hover {
        transform: scale(1.1);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
}