.navbar {
    background-color: rgb(42, 25, 49);
}

.nav-link {
    color: white !important;
}

.nav1 {
    margin-right: 12em;
}

@media (max-width: 992px) {
    .nav1 {
        margin-right: 10em;
    }
}

@media (max-width: 768px) {
    .nav1 {
        margin-right: 0;
    }
}