@import "_header";
@import "_content";
@import "_nav";
@import "_footer";
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto&display=swap");
$Henny-Penny: "Henny Penny",
cursive;
$Pattaya: "Pattaya",
sans-serif;
$Roboto: "Roboto",
sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//fonts
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $Pattaya, $Henny-Penny;
    font-weight: 1.5;
}

p {
    font-family: $Roboto;
    font-weight: 1.5;
}

//
body>.container {
    padding-top: 60px;
}

.parallax {
    /* The image used */
    background-image: url("https://image.freepik.com/vetores-gratis/padrao-de-carnaval-brasileiro-artistico-com-mascaras_23-2148404644.jpg") !important;
    /* Set a specific height */
    min-height: 600px !important;
    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.grid-continer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "grid-item-header grid-item-header grid-item-header grid-item-header" "grid-item-headerShow grid-item-headerShow grid-item-headerShow grid-item-headerShow" "grid-item-mainContent grid-item-mainContent grid-item-mainContent grid-item-mainContent" "grid-item-footer grid-item-footer grid-item-footer grid-item-footer";
}

.grid-item-header {
    grid-area: grid-item-header;
}

.grid-item-headerShow {
    grid-area: grid-item-headerShow;
}

.grid-item-mainContent {
    grid-area: grid-item-mainContent;
}

.grid-item-footer {
    grid-area: grid-item-footer;
}